@charset "utf-8";
/* CSS Document */

.container {
	width: 1286px;
	height: 1395.95px;
	background-color: #56836F;
	border: 4px solid #006837;
	margin: 40px;
}

.navigation {
	display: flex;
	justify-content: center;
	margin-top: 49px;
	margin-bottom: 63.5px;
}

.navigation nav ul li {
	display: inline-block;
	font-size: 48px;
	color: white;
	padding-left: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
}

.symbol {
	padding-left: 65.4px;
}

.martkutxedebi {
	display: grid;
	grid-template-columns: 0fr 0fr;
	grid-column-gap: 18px;
	grid-row-gap: 45px;
	margin-left: 72px;
}

.martkutxedi1 {
	width: 617px;
	height: 356px;
	background-color: #FCEE21;
}

.martkutxedi1 p {
	font-size: 14px;
	margin-left: 26px;
	margin-right: 27.5px;
	margin-top: 17.7px;
	margin-bottom: 16.9px;
}

.image {
	float: right;
	margin-left: 15px;
	margin-top: 18px;
	margin-right: 32.3px;
}

.martkutxedi2 {
	width: 523px;
	height: 356px;
	background-color: #FCEE21;
}

.image2 {
	float: left;
	margin-left: 15px;
	margin-top: 18px;
	margin-right: 32.3px;
}

.martkutxedi2 p {
	font-size: 14px;
	margin-left: 26px;
	margin-right: 27.5px;
	margin-top: 17.7px;
	margin-bottom: 16.9px;
	font-family: 'Sagoe UI';
}